
/*responsive topnov*/

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-color-cartoon-childrens-festival-board-background-material-design-day-backgrounddisplay-board-image_69964.jpg);
  opacity: 80%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav .navbar-rgt{
  float: right;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover{
  background-color: rgb(251, 252, 252); /*color for bg*/
  color: #717171;
}
.topnav a.active {
  background-color: rgb(29, 90, 189); /* color for FUNNY*/
  color: #f1f1f1;
}


/*class active was removed to remove the blue colour */

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a.mob-blue{
    background-color: rgb(29, 90, 189);
    color:rgb(255, 255, 255) ;
  }
  
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;    /*it do not display anything from top to*/
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


/*slide navigation bar*/
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*slideshow*/
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/*radius of iamges*/
.mySlides
img {
  border-radius: 3%;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 9px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: #697c7d;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #3723ba;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.emoji {
  display: flex;
  justify-content: space-between;
}


/*paradox caption text*/
.caption-div{
  position: absolute;
  left: 0;
  top: 0%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption-border { 
    background-color: #4b5758;
    color: #fff;
    padding: px;
    font-size: 25px;
    letter-spacing: 3px;
}

@media screen and (max-width: 600px) {
  .caption-border {
    font-size: 15px;
    letter-spacing: 1px;
  } 
}

/*parallax effect*/

body, html {
  height: 100%;
}

.parallax, .parallax2, .img3{
  /* The image used */
  background-image: url('mickym.jpg');

  /* Full height */
  height: 100%; 
  opacity: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  background-image: url('Best-Old-Hindi-Dubbed-Cartoons-featured.jpg');
}

.wrapper {
  position: relative;
}

.welcome {
  position:absolute ;
  text-align: center;
   left: 0;
   top: 130%;
   width: 100%;
   text-align: center;
   color: #000;
 }

.welcome span.border {
  background-color: #aba1a1;
  color: rgb(0, 0, 0);
  top: 100;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

/*less hight part*/
.caption {
  position: absolute;
  left: 0;
  top: 250%;  
 text-shadow: 2px 2px 5px rgb(255, 255, 255);
  width: 100%;
  text-align: center;
  color: rgb(0, 0, 0);
}

.caption span.border2 {
  background-color: #aba1a1;
  color: rgb(0, 0, 0);
  top: 250%;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.style {
  color: #ddd;
background-color: #282E34;
text-align: center;
padding: 50px 80px;
text-align: justify;
}


.caption3 {
  position: absolute;
  left: 0;
  top: 350%;
  font-size: 25px;
  width: 100%;
  text-align: center;
  color: #000;
  letter-spacing: 10px;
}

.img3{
  background-image: url('oggyisbest.jpg');
}

.awesome {
  position: absolute;
  left: 0;
  top: 360%;  
 text-shadow: 2px 2px 5px rgb(255, 255, 255);
  width: 100%;
  text-align: center;
  color: rgb(0, 0, 0);
}

.caption span.best {
  background-color: #aba1a1;
  color: rgb(0, 0, 0);
  top: 250%;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

/*hgfsjdhagf*/


a {
    color: #333333;
    font-weight: 400;
    outline: none;
    text-decoration: none;
    transition: 0.5s;
}

a:hover,
a:active,
a:focus {
    outline: none;
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0 0 15px 0;
    color: #454545;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0 0 15px 0;
    color: #333333;
    font-weight: 700;
    
}

h1 {
    font-weight: 900;
}

img {
    width: 100%;
    height: auto;
}



/**********************************/
/***** Layout & Section Title *****/
/**********************************/
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.column {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 576px) {
    .column {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 768px) {
    .column {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

@media (min-width: 992px) {
    .column {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

.section-title {
    width: 100%;
    text-align: center;
    padding: 45px 0 30px 0;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 5px;
    left: calc(50% - 25px);
    background: #353535;
}

.section-title h1 {
    color: #353535;
    font-size: 50px;
    letter-spacing: 5px;
    margin-bottom: 5px;
}

@media(max-width: 767.98px) {
    .section-title h1 {
        font-size: 40px;
        letter-spacing: 3px;
    }
}

@media(max-width: 567.98px) {
    .section-title h1 {
        font-size: 30px;
        letter-spacing: 2px;
    }
}


.team-9 {
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.team-9:hover {
    transform: rotateY(180deg);
}

.team-9 .team-img {
    position: relative;
    font-size: 0;
    text-align: center;
    margin-bottom: 30px;
}

.team-9 .team-img img {
    width: 100%;
    height: auto;
    border-radius: 100%;
}

.team-9 .team-content {
    text-align: center;
}

.team-9 .team-content h2 {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.team-9 .team-content h3 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
}

.team-9 .team-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: #ffffff;
    border-radius: 5px;
    transform: rotateY(180deg);
}

.team-9 .team-overlay p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
}

.team-9 .team-social {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
}

.team-9 .team-social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    padding: 11px 0 10px 0;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    border-radius: 100%;
    transition: all .3s;
}

.team-9 .team-social a.social-tw {
    background: #00acee;
}

.team-9 .team-social a.social-fb {
    background: #3b5998;
}

.team-9 .team-social a.social-li {
    background: #0e76a8;
}

.team-9 .team-social a.social-in {
    background: #3f729b;
}

.team-9 .team-social a.social-yt {
    background: #c4302b;
}

.team-9 .team-social a:last-child {
    margin-right: 0;
}

.team-9 .team-social a:hover {
    background: #222222;
}

                                                      
.contact {
  position: relative;
  left: 0;
  top: 6rem;
  text-shadow: 2px 2px 5px rgb(255 255 255);
  width: 100%;
  text-align: center;
  color: rgb(0, 0, 0);
}

.contact span.border8 {
  background-color: #aba1a1;
  color: rgb(0, 0, 0);
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.spacer{
  height: 2rem;
}
